head
    title='Curiosity IO'
    link(rel='stylesheet', href='tachyons.css')
    meta(name="description" content="Curiosity IO. Making mobile app ideas come to life.")
    meta(name="author" content="levi [at] curiosityio.com")
    meta(charset="utf-8")
