head
    link(rel='stylesheet' href='tachyons.min.css')
    script(type="text/javascript" src="react.min.js")    
    meta(name="description" content="Caddy. We know small business because we are small business.")
    meta(name="author" content="levi [at] heycaddy.com")
    meta(charset="utf-8")
