doctype html
html(lang="en")
    include ./header.jade    
    body.debug
    section.bg-near-black.w-100
        .db.center.mw3.tc.mt5
        .bg-near-black.w-100(style="background-image: url(phone_outline.png);background-repeat: no-repeat;").contain.h5
            a.link.dim.white.b.f1.f-headline-ns.tc.center.v-mid.h-100.z-1.v-mid.db(href='#', title='Home') Curiosity IO 
    .bg-white.w-100
        ul.list.pl0
          li.pa3.pa4-ns.bb.b--black-10
            b.db.f3.mb1 alignment
            span.f5.db.lh-copy.measure
              | The positioning of text within the page margins. Alignment can be flush left, flush right, justified, or centered. Flush left and flush right are sometimes referred to as left justified and right justified.
          li.pa3.pa4-ns.bb.b--black-10
            b.db.f3.mb1
              | ascender
            span.f5.db.lh-copy.measure
              | The part of lowercase letters (such as k, b, and d) that ascends above the
              | x-height of the other lowercase letters in a face.          
          li.pa3.pa4-ns
            b.db.f3.mb1
              | centered
            span.f5.db.lh-copy.measure
              | Text placed at an equal distance from the left and right margins. Headlines are often centered. It is generally not good to mix centered text with flush left or flush right text.
