doctype html 
html(lang="en")
    include ./templates/header.jade 
    title='Home - Caddy. We know small business because we are small business.'
    body.debug
    header.w-100.b-green.bg-orange.h2
    #container.w-100
    script(type="text/javascript" src="bundle.js")
